@use '../variables/colors' as v;

@mixin make-vars-template($color-map) {
  @each $key, $val in $color-map {
    --#{$key}: #{$val};
  }
}

@mixin make-basic-color-vars {
  @include make-vars-template(v.$red-colors);
  @include make-vars-template(v.$yellow-colors);
  @include make-vars-template(v.$blue-colors);
  @include make-vars-template(v.$green-colors);
  @include make-vars-template(v.$grey-colors);
}

@mixin make-theme-color-vars {
  @include make-vars-template(v.$theme-colors);
}

@mixin make-background-classes($name: '') {
  .#{$name} {
    background-color: var(--#{$name});
    border-color: var(--#{$name});
  }
}

@mixin make-text-classes($name: '') {
  .#{$name}--text {
    color: var(--#{$name});
    caret-color: var(--#{$name});
    &:hover,
    &:active,
    &:focus,
    &[class*='--active'] {
      color: var(--#{$name}) !important;
    }
  }
}

@mixin make-tool-classes($name: '') {
  @include make-background-classes($name);
  @include make-text-classes($name);
}

@mixin make-classes-template($color-map) {
  @each $key, $val in $color-map {
    @include make-tool-classes($key);
  }
}

@mixin make-basic-color-classes {
  @include make-classes-template(v.$red-colors);
  @include make-classes-template(v.$yellow-colors);
  @include make-classes-template(v.$blue-colors);
  @include make-classes-template(v.$green-colors);
  @include make-classes-template(v.$grey-colors);
}

@mixin make-theme-color-classes {
  @include make-classes-template(v.$theme-colors);
}
