<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
      Btn | Acco
    </title>
    <meta name="description" content="Documentation of acco">
    <link rel="stylesheet" href="/acco/assets/style.cea082f4.css">
    <link rel="modulepreload" href="/acco/assets/framework.27075354.js">
    <link rel="modulepreload" href="/acco/assets/components_btn.md.8f217747.lean.js">
    <link rel="modulepreload" href="/acco/assets/app.942d5e25.js">
    
    
  </head>
  <body>
    <div id="app"><!----></div>
    <script>__VP_HASH_MAP__ = JSON.parse("{\"index.md\":\"d54369d9\",\"components_btn.md\":\"8f217747\",\"components_card.md\":\"b3d08341\",\"components_carousel.md\":\"36a145cf\",\"components_checkbox.md\":\"bc00845b\",\"components_field.md\":\"a57a1d00\",\"components_fileInput.md\":\"bd6e4c36\",\"components_grid.md\":\"084a7e04\",\"components_textBox.md\":\"22918cbc\",\"components_textInput.md\":\"cf4f9f31\",\"directives_ripple.md\":\"a7b455b8\"}")</script>
    <script type="module" async src="/acco/assets/app.942d5e25.js"></script>
  </body>
</html>