@use 'sass:map';
@import './colors';
@import './elevation';
$font-color: var(--grey-8, black);
$border-color: var(--grey-5, grey);
$disabled-color: var(--grey-3, grey);
$default-background-color: var(--grey-8, black);
$border-size: 1px;
$border-radius: 2px;
$inline-line-height: 1.5;
$smaller-font-size: 0.875rem;
$inline-font-size: 1rem;
$larger-font-size: 1.25rem;
$grid-columns: 12;
$breakpoints: (
  'xs': 0px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1140px,
);

$gutters: (
  'xs': 4px,
  'sm': 8px,
  'md': 12px,
  'lg': 16px,
  'xl': 20px,
);

$vertical-padding: (
  sm: 0px,
  md: 3px,
  lg: 9px,
);

$justify-padding: 11px;
$half-justify-padding: 5px;
