@use 'sass:map';
@import './colors';
@import './elevation';
$border-size: 1px;
$border-radius: 4px;
$inline-line-height: 1.5;
$inline-font-size: 14px;
$larger-font-size: 16px;
$grid-columns: 12;
$breakpoints: (
  'xs': 0px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1140px,
);

$gutters: (
  'xs': 4px,
  'sm': 8px,
  'md': 12px,
  'lg': 16px,
  'xl': 20px,
);

$vertical-padding: (
  sm: 0px,
  md: 3px,
  lg: 9px,
);

@function make-max-height($key: 'sm') {
  @return map.get($vertical-padding, 'sm') * 2 + $border-size * 2 + $inline-line-height * $inline-font-size;
}

$max-height-map: (
  sm: make-max-height(('sm')),
  md: make-max-height(('md')),
  lg: make-max-height(('lg')),
);
$justify-padding: 11px;
