@use './variables/index' as v;
@use 'sass:map';
.btn {
  $normal-padding: map.get(v.$vertical-padding, 'md');
  $large-padding: map.get(v.$vertical-padding, 'lg');
  $small-padding: map.get(v.$vertical-padding, 'sm');
  $justify-padding: v.$justify-padding;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border: v.$border-size solid transparent;
  border-radius: 4px;
  padding: $normal-padding $justify-padding;
  font-size: v.$inline-font-size;
  overflow: hidden;
  &__content {
    line-height: v.$inline-line-height;
    text-overflow: ellipsis;
  }

  &--small {
    padding: $small-padding $justify-padding;
  }

  &--large {
    padding: $large-padding $justify-padding;
    font-size: 1.5rem;
  }

  &--round {
    border-radius: 50%;
    padding: $normal-padding;
    &.btn--large {
      padding: $large-padding;
    }

    &.btn--small {
      padding: $small-padding;
    }
  }

  &--flat,
  &--outlined,
  &--link,
  &--disabled {
    box-shadow: none !important;
  }

  &--tile {
    border-radius: 0;
  }
  &--outlined {
    border-color: currentColor;
  }

  &--block {
    display: block;
  }

  &--disabled {
    background-color: var(--grey-3, grey);
    cursor: not-allowed;
  }
}
