@use 'sass:map';
@use './variables/index' as v;

@mixin make-prefix-suffix($key: 'sm') {
  &__prefix,
  &__suffix {
    display: inline-flex;
    align-items: center;
  }

  &__prefix {
    border-right: 1px solid transparent;
  }

  &__suffix {
    border-left: 1px solid transparent;
  }
}

@mixin make-small-or-large-content($key: 'sm') {
  &.text-input {
    @include make-prefix-suffix($key);
  }
  .text-input__content {
    padding-top: map.get(v.$vertical-padding, $key);
    padding-bottom: map.get(v.$vertical-padding, $key);
  }
}
$half-normal-justify: v.$half-justify-padding;
.text-input {
  &__content {
    flex: 1;
    outline: none;
    border: 0;
    font-size: v.$inline-font-size;
    line-height: v.$inline-line-height;
  }
  &__wrapper {
    display: flex;
    position: relative;
    border: v.$border-size solid v.$border-color;
    border-radius: v.$border-radius;
    outline: none;
    will-change: border-color;
    transition: border-color 300ms ease-in-out;

    &:active,
    &:hover,
    &.text-input--focusing {
      border-color: currentColor;
    }
  }

  @include make-prefix-suffix('md');

  &__prefix,
  &__suffix {
    &.text-input--divider {
      border-color: inherit;
    }
  }

  &__content {
    padding: map.get(v.$vertical-padding, 'md') v.$justify-padding;
  }

  &--flat {
    border-color: transparent !important;
  }

  &--small {
    @include make-small-or-large-content('sm');
  }

  &--large {
    @include make-small-or-large-content('lg');
  }
}
