.text-box {
  // TODO text-box style
  width: 100%;
  height: 100%;
  resize: vertical;

  &__wrapper {
    display: block;
  }

  &__content {
    display: block;
  }

  &__count {
    display: inline-flex;
    &--wrapper {
      display: flex;
    }
  }

  &--disabled {
    cursor: not-allowed;
    background-color: var(--grey-3, grey);
  }
}
